* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.container-fluid {
    height: 100vh;
    width:100vw;
    background-color: rgb(180, 180, 180);
}

.principal_box {
    width:100%;
    height: 100vh;
    background-color: (180, 180, 180);
}

.content {
    display:none;
}


img {
    height:100%;
    width:100%;
    transition:0.5s ease-in-out;
}

img:hover {
    transform:scale(1.3);
    opacity:(1.0)
}

img:not(:hover) {
    opacity: 0.7;
  }
  

h1 {
    text-align: center;
}

.scissors {
    margin-left: -200px;
    margin-right: -200px;
}

.btn1,.btn2,.btn3{
    border:none;
    background-color:transparent;
}

h2{
    font-size:100px;
    position: relative;top:150px;
}